---
const {title,link} = Astro.props
---

<a class=" min-h-16 group p-2 px-6 border-2 border-red-100 bg-red-100 transition-all ease-in-out duration-300 flex rounded-full w-full mx-4 gap-6 relative text-lg" href={link}>
    <!-- class="size-10 stroke-orange-950 group-hover:stroke-pink-950 transition-all ease-in-out duration-300" -->
     <span class="flex self-center text-2xl">
         <slot/>
     </span>
    <span class="flex self-center right-0 left-0 justify-center absolute group-hover:stroke-pink-950 transition-all ease-in-out duration-300 ml-8 lg:ml-0">{title}</span>
</a>